@mixin animationDelay($time) {
  animation-delay: $time;
}

@keyframes clouds {
  from {
    left: 100vw;
  }
  to {
    left: -100vw;
  }
}

@keyframes bikeRide {
  from {
    left: -1000vw;
  }
  to {
    left: 1000vw;
  }
}

* {
  margin: 0;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.air {
  position: relative;
  height: 40vh;
  background-color: skyblue;

  &__sun {
    height: 20vh;
  }

  &__cloud {
    position: absolute;
    height: 25vh;
    animation-name: clouds;
    left: 100vw;
    // animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &--one {
      top: 5vh;
      // left: 10vw;
      animation-duration: 80s;

      animation-delay: 0s;
    }
    &--two {
      top: -10vh;
      // left: 40vw;
      animation-duration: 70s;

      animation-delay: 28s;
    }
    &--three {
      top: 0vh;
      //   left: 80vw;
      animation-duration: 60s;

      animation-delay: 40s;
    }
  }
}

.grass {
  position: relative;
  height: 35vh;
  background-color: #0f0;

  &__shed {
    position: absolute;
    bottom: 0;
    right: 2vw;
    height: 55vh;
    z-index: 50;
  }

  &__tree {
    position: absolute;
    &--one {
      height: 40vh;
      bottom: 20vh;
      left: -10vh;
      z-index: 40;
    }
    &--two {
      right: -25vh;
      bottom: 0;
      height: 65vh;
      z-index: 60;
    }
  }
}

.road {
  height: 25vh;
  background-color: sandybrown;

  &__bike {
    position: absolute;
    animation-name: bikeRide;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 21s;
    &--ltr {
      bottom: 0;
      left: -100vw;
      z-index: 70;
      height: 45vh;
      &--one {
        @include animationDelay(0);
      }
      &--two {
        @include animationDelay(3s);
      }
      &--three {
        @include animationDelay(7s);
      }
      &--four {
        @include animationDelay(11s);
      }
      &--five {
        @include animationDelay(16s);
      }
      &--six {
        @include animationDelay(23s);
      }
    }
    &--rtl {
      //   display: none;
      bottom: 12vh;
      left: 100vw;
      z-index: 65;
      height: 42vh;
      animation-direction: reverse;
      &--one {
        @include animationDelay(11s);
      }
      &--two {
        @include animationDelay(33s);
      }
      &--three {
        @include animationDelay(47s);
      }
      &--four {
        @include animationDelay(41s);
      }
      &--five {
        @include animationDelay(50s);
      }
      &--six {
        @include animationDelay(2s);
      }
    }
  }
}

.grassBorder {
  width: 100vw;
  height: 11vh;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
