* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

@keyframes clouds {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes sun {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-359deg);
  }
}

.air {
  position: relative;
  height: 40vh;
  background-color: skyblue;

  &__sun {
    position: absolute;
    height: 20vh;
    right: 0;

    animation: sun;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__cloud {
    position: absolute;
    height: 25vh;
    left: 0;
    transform: translateX(-100%);
    animation-name: clouds;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    &--one {
      top: 7vh;
      animation-duration: 140s;
    }
    &--two {
      top: 5vh;
      animation-duration: 170s;
      animation-delay: 70s;
    }
    &--three {
      animation-duration: 145s;
      animation-delay: 160s;
    }
  }
}

.grass {
  position: relative;
  height: 35vh;
  background-color: #0f0;

  &__shed {
    position: absolute;
    width: 90vw;
    right: 0;
    bottom: 0;
    z-index: 50;
  }

  &__tree {
    position: absolute;
    bottom: 5%;
    height: 65vh;
    transform: translateX(-48%);
    z-index: 60;
  }
}

.road {
  position: relative;
  height: 15vh;
  background-color: sandybrown;

  &__bike {
    position: absolute;
    bottom: 0;
    height: 40vh;
    z-index: 70;
    transform: translateX(-100%);
    animation-name: clouds;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    // animation-iteration-count: infinite;

    // display: none;
    // &--six {
    //   //   animation-delay: 5s;
    //   display: initial;
    // }

    &--reverse {
      animation-direction: reverse;
      transform: rotateX(180deg);
      bottom: 5vh;
    }
  }
}

.border {
  position: relative;
  height: 10vh;
  background-color: #0f0;
  &__grass {
    position: absolute;
    bottom: 7vh;
    height: 10vh;
    max-width: 100vw;
    z-index: 80;
  }
}
